<div ng-init="buscarEstacoes()"></div>
<div class="row">
    <ol class="breadcrumb">
        <li><a href="#!/'"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active">Estações</li>
    </ol>
</div>

<h1 align='center'>Estações ({{estacoes.length}})</h1>
<hr/>

<div ng-show="detalhesEstacao" class="panel panel-default container">
    <div align="right"><i ng-click="fecharDetalhesEstacao()" class="glyphicon glyphicon-remove"></i></div>
    <h3>Detalhes da Estação</h3>
    <!--<div align="right"><i ng-click="fecharDetalhes()" class="glyphicon glyphicon-remove"></i></div>
    <div class="col-md-12" align="center">
        <h3><b>Nome: </b>{{usuarioDetalhe.nome +' '+ usuarioDetalhe.sobrenome}}</h3>
    </div>
    <div class="clearfix"></div>
    <br/>
    <div class="col-md-4">
        <h4><b>E-mail: </b>{{usuarioDetalhe.email}}</h4>
    </div>
    <div class="col-md-4">
        <h4><b>Tipo: </b>{{usuarioDetalhe.tipo}}</h4>
    </div>
    <div class="col-md-4">
        <h4><b>Status: </b>{{usuarioDetalhe.status}}</h4>
    </div>
    <div class="clearfix"></div>
    <br/>
    <div class="col-md-4">
        <h4><b>Instituição:: </b>{{usuarioDetalhe.instituicao}}</h4>
    </div>
    <div class="col-md-4">
        <h4><b>Cidade: </b>{{usuarioDetalhe.cidade}}</h4>
    </div>
    <div class="col-md-4">
        <h4><b>País: </b>{{usuarioDetalhe.pais}}</h4>
    </div>
    <div class="clearfix"></div>
    <br/>
    <div class="col-md-12" align="center">
        <h3><button class="btn" ng-click="fecharDetalhes()">FECHAR</button></h3>
    </div>-->
</div>
<div class="clearfix"></div>
<br/>
<div class="panel panel-default col-md-12">
    <div class="col-md-6">
        <h2>Localização</h2>
        <div id="map"></div>
        <br/>
    </div>
    <div class="col-md-6">
        <h2>Detalhes</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Estação</th>
                    <th class="text-center">Contato</th>
                    <th class="text-center">Estado</th>      
                    <th class="text-center">Detalhes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in usuarios">
                    <td class="text-center">{{usuario.nome}}</td>
                    <td class="text-center">{{usuario.email}}</td>
                    <td class="text-center">{{usuario.instituicao}}</td>
                    <td class="text-center">{{usuario.status}}</td>
                    <td class="text-center"><a href="" ng-click="verDetalhesUsuario(usuario)"><b>Ver Detalhes</b></a></td>
                    <td class="text-center"><a href="" ng-click="mudarStatusUsuario(usuario)"><b>Ativar/Desativar</b></a></td>
                </tr>    
            </tbody>
        </table>
        <br/>
        <hr/>
        <div align="right"><button class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> NOVA ESTAÇÃO</button></div>
    </div>
</div>
</div>
