<div ng-init="buscarUsuarios()"></div>
<div class="row">
    <ol class="breadcrumb">
        <li><a href="#!/'"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active">Usuário</li>
    </ol>
</div>
<script src="usuarioController.js"></script>
<h1 align='center'>Gestão de Usuários ({{usuarios.length}})</h1>
<hr/>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Nome</th>
            <th class="text-center">E-mail</th>
            <th class="text-center">Instituição</th>
            <th class="text-center">Status</th>      
            <th class="text-center">Detalhes</th>
            <th class="text-center">Mudar Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="usuario in usuarios">
            <td class="text-center">{{usuario.nome}}</td>
            <td class="text-center">{{usuario.email}}</td>
            <td class="text-center">{{usuario.instituicao}}</td>
            <td class="text-center">{{usuario.status}}</td>
            <td class="text-center"><a href="" ng-click="detalhesUsuario(usuario)"><b>Ver Detalhes</b></a></td>
            <td class="text-center"><a href="" ng-click="mudarStatusUsuario(usuario)"><b>Ativar/Desativar</b></a></td>
        </tr>    
    </tbody>
</table>
<br/>
<div class="left">
    <button class="btn" style="background: #30a5ff; color: white"><i class="glyphicon glyphicon-plus"></i> NOVO USUÁRIO</button>
</div>