<div class="row">
    <ol class="breadcrumb">
        <li><a href="#!/'"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active">Observação</li>
    </ol>
</div>
<h1 align='center'>Gestão de Observações</h1>
<hr/>
<div class="row">    
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-orange panel-widget">
            <div class="row no-padding">
                <div class="col-sm-3 col-lg-5 widget-left">
                    <svg class="glyph stroked camera">
                    <use xlink:href="#stroked-camera"></use>
                    </svg>
                </div>
                <div class="col-sm-9 col-lg-7 widget-right">
                    <div class="text-muted">Observações</div>
                    <div class="large">Realizadas (x)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-teal panel-widget">
            <div class="row no-padding">
                <div class="col-sm-3 col-lg-5 widget-left">
                    <svg class="glyph stroked video">
                    <use xlink:href="#stroked-video"/>
                    </svg>
                </div>
                <div class="col-sm-9 col-lg-7 widget-right">
                    <div class="text-muted">Observações</div>
                    <div class="large">Futuras (x)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-red panel-widget">
            <div class="row no-padding">
                <div class="col-sm-3 col-lg-5 widget-left">
                    <svg class="glyph stroked camcorder">
                    <use xlink:href="#stroked-camcorder"></use>
                    </svg>
                </div>
                <div class="col-sm-9 col-lg-7 widget-right">
                    <div class="text-muted">Observações</div>
                    <div class="large">Em Andamento (x)</div>
                </div>
            </div>
        </div>
    </div>
</div>